
{{!-- responsive header section attempt --}}
{{!-- {{#section 'head'}}
  <meta name = 'robots' content = 'noindex'>
{{/section}} --}}
{{!-- https://stackoverflow.com/questions/21737057/handlebars-with-express-different-html-head-for-different-pages --}}


{{!-- embed header section in each sub NOPE --}}


 
      {{!-- https://stackoverflow.com/questions/72279036/why-is-my-boostrap-card-header-not-filling-entire-width-of-the-card --}}
      <div class="container container-fluid card px-0 border-3 " >
        <row class= " d-inline-flex justify-content-between align-items-center headliner_color1 p-2">
          <h3 >{{blog.title}}</h3>
          <p class = 'fs-6'>
            Posted by {{user.username}} on {{format_date blog.createdAt}} 
          </p>
        </row>
        <row class = "d-inline-flex justify-content-right align-items-center headliner_color2 p-2" >
          <p>{{blog.content }}</p>
          {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </row>
      </div>      
      
      <div class="container container-fluid card px-0 border-3 " >
        <row class= " d-inline-flex justify-content-between align-items-center headliner_color1 p-2">
          <h3 ></h3>
        </row>
        <row class= " d-inline-flex justify-content-between align-items-center headliner_color2 p-2">
            <form class="form ">
              <div class="form-group">
                <label for="comment-blog">Comment</label>
                <input class="form-input" type="text" id="comment-blog"/>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block comment-post-btn" type="click" >Submit</button>
              </div>
            </form>          
        </row>
      </div>
          {{!-- ?this should open up/show form --}}
      {{!-- <div class="text-center" id = 'new-post-btn'>
        <a href = '/newpost' class="btn btn-primary" role = 'button'>+ New Post</a>
      </div> --}}

<script src="./js/commentpost.js"></script>