
{{!-- responsive header section attempt --}}
{{!-- {{#section 'head'}}
  <meta name = 'robots' content = 'noindex'>
{{/section}} --}}
{{!-- https://stackoverflow.com/questions/21737057/handlebars-with-express-different-html-head-for-different-pages --}}

{{!-- embed header section in each sub nope --}}


<!-- Loop over each object in the blogs array -->

{{#each blogs as |blog| }}

 
      {{!-- https://stackoverflow.com/questions/72279036/why-is-my-boostrap-card-header-not-filling-entire-width-of-the-card --}}
      <div class="container container-fluid card px-0 border-3 " >
        <row class= " d-inline-flex justify-content-between align-items-center headliner_color1 p-2">
          <h3 >{{blog.title}}</h3>
          <p class = 'fs-6'>
            Posted by {{user.username}} on {{format_date blog.createdAt}} 
          </p>
        </row>
        <row class = "d-inline-flex justify-content-right align-items-center headliner_color2 p-2" >
          <p>{{blog.content }}</p>
          {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
        </row>
      </div>

{{/each}}
